<div>
    <h2 class="text-6xl text-center mt-[70px] mb-[70px]">Was mache ich alles</h2>
</div>
<div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-5">
    <div>
        {% if content.service_image_1 %}
            <img class="h-auto max-w-full rounded-lg" src="{{ content.service_image_1.url }}" alt="">
        {% endif %}
    </div>
    <div>
        {{ content.service_text_1|raw }}
    </div>
    <div>
        {% if content.service_image_2 %}
            <img class="h-auto max-w-full rounded-lg" src="{{ content.service_image_2.url }}" alt="">
        {% endif %}
    </div>
    <div>
        {{ content.service_text_2|raw }}
    </div>
    <div>
        {{ content.service_text_3|raw }}
    </div>
    <div>
        {% if content.service_image_3 %}
            <img class="h-auto max-w-full rounded-lg" src="{{ content.service_image_3.url }}" alt="">
        {% endif %}
    </div>
    <div>
        {{ content.service_text_4|raw }}
    </div>
    <div>
        {% if content.service_image_4 %}
            <img class="h-auto max-w-full rounded-lg" src="{{ content.service_image_4.url }}" alt="">
        {% endif %}
    </div>
</div>
